@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter';
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.pages {
    gap:20px
}
li {
    list-style: none;
}
.btn {
    background: linear-gradient(101deg, rgb(67, 165, 72) -4.14%, rgb(82, 226, 89) 108.69%);;
}